body {
  background-image: url('./assets/dog_and_cat_pattern-23.jpg');
  background-size: cover;
}
.app {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
  color: blueviolet;
}

.doggo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

img {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10%;
  height: 34em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  background-color: cadetblue;
  padding: 7%;
}

.dog-card {
    display: flex;
    flex-direction: row-reverse;
    margin: 5%;
};

